/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif !important;
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

popup_notification.webpushr-notification {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 5px 2px, rgb(0 0 0 / 30%) 0px 0px 2px 0px,
    #00796b80 -4px -4px 0px 0px inset;
  border-radius: 8px;
}

notification_title {
  color: #00796b;
}

popup_heading_text.webpushrOnBtn {
  padding-block: 8px;
}

popup_button btn {
  font-family: DM Sans, sans-serif !important;
  font-size: 12px;
  width: max-content;
  margin-right: 0;
  padding: 8px 12px;
  font-weight: 700;
  border-radius: 10px;
}

popup_heading.popup-button-heading {
  font-size: 14px;
  text-align: end;
}

popup_heading {
  margin-block: 16px;
}
btn#webpushrOnBtn {
  font-family: "DM Sans", sans-serif !important;
  font-size: 12px;
  width: max-content;
  margin-right: 0;
  padding: 8px 12px;
  background: #b2dfdb;
  color: #00796b;
  font-weight: bold;
  border-radius: 10px;
}

popup_poweredby {
  display: none !important;
}

.popup-button-heading > popup_heading_text.webpushrOnBtn {
  display: none !important;
}

popup_heading_text.webpushrOnBtn {
  padding-block: 4px 16px;
}

notification_body > * {
  color: black !important;
}

popup_close.webpushr-toggle-bell-popup {
  display: none;
}
promptpopup.promptPopup-show {
  border-radius: 16px;
}
popup_notification.webpushr-notification {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 5px 2px, rgb(0 0 0 / 30%) 0px 0px 2px 0px,
    #00796b80 -4px -4px 0px 0px inset;
  border-radius: 8px;
}

.Toastify__toast-container.Toastify__toast-container--bottom-right {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 46px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
